<div id="content">
    <div *ngIf="!comecar" class="pt-2" id="nsei">
        Leia com atenção antes de responder:
        <p>Responda o questionário com toda a sinceridade possível</p>
        <p>Se não entender alguma a proposta de uma pergunta, peça ajuda ao Gerg - o Gorila Investdor, ele pode te
            ajudar.</p>
        <div id="div-greg">
            <div class="speech-bubble">
                <p>Olá, eu sou o Greg - o gorila investidor!</p>
                <p>Fico feliz que esteja por aqui. Conte comigo se tiver alguma dúvida.</p>
            </div>
            <img src="assets/images/gorila-greg.png" alt="">
        </div>
        <button (click)="this.comecar = true" class="btn btn-gradient">Comece agora</button>
    </div>
    <div id="form-perguntas" [formGroup]="formPerguntas" *ngIf="comecar">
        <div id="wrap-perguntas">
            <div *ngFor="let pergunta of grupoPerguntas[pagina];let i = index" class="pergunta">
                <div class="d-flex">
                    <h4 id="titulo-pergunta">{{pergunta?.descricao}}</h4><i *ngIf="pergunta.explicao" (click)="exibirExplicacao(i)" class="pointer fas fa-info-circle"></i>
                </div>
                <div>
                    <div *ngFor="let alternativa of pergunta?.alternativas" class="wrapper">
                        <input formControlName="{{pergunta.id}}" value="{{alternativa.descricao}}" class="radio" type="radio" id="alternativa.id">
                        <label for="alternativa.id">{{alternativa.descricao}}</label><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <div>
                <div *ngIf="exibirMensagem" class="speech-bubble">
                    <p>{{mensagem}}</p>
                </div>
            </div>
            <img src="assets/images/gorila-greg.png" alt="">
        </div>
    </div>
    <div class="botao">
        <button *ngIf="comecar" (click)="avancar()" class="btn btn-gradient">{{this.pagina + 1 !== this.grupoPerguntas.length ? 'Continuar' : 'Finalizar'}}</button>
    </div>
    
</div>