@import './../../../scss/index.scss';
.trap_section{
    position: relative;
    width: 100%;
    border: none;
}
#section1{
    background-image: linear-gradient(to right, #10C0C6 0%, #50df8f 51%, #10C0C6 100%);
    color: #FFFFFF;
    margin: 0 auto;
    overflow-y: hidden;
    height: 15vh;
}
h1, p{text-align:center;}
.indent {
    text-align: center;
    font-size: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
#content {
    padding: 20px 8vw;
    height: calc(70vh);
    .speech-bubble {
        position: relative;
        background: #f1f1f1;
        border-radius: .4em;
        padding: 10px 20px;
        height: 100%;
    }
    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: #f1f1f1;
        border-right: 0;
        margin-top: -20px;
        margin-right: -20px;
    }
    img {
        height: 400px;
    }
    #nsei {
        margin-top: 20px;
        text-align: center;
    }
    #div-greg {
        display: flex;
        justify-content: flex-end;
        margin-top: 10vh;
        padding-right: 15vw;
        
    }
    #form-perguntas {
        display: flex;
        height: 55vh;
        justify-content: space-between;
        .wrap-perguntas .pergunta{
            #titulo-pergunta {
                display: inline-block;
            }
            .wrapper {
                .radio {
                    width: 30px;
                    height: 20px;
                }
            }
        }
    }
    .botao {
        display: flex;
        flex-direction: row-reverse;
    }

    //Radio Button Style

    /* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #babacd;
    
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #10C0C6;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: white;
  }
      
}
i {
    color:#10C0C6;
}
