$primary: #8de8ae;
$secondary: #0000b2;
$yellow: #f8ff8f;
$orange: #ffca7c;
$box-shadow: rgba(0, 0, 0, 0.4);
$box-shadow-light: rgba(0, 0, 0, 0.2);
$overlay-color: rgba(0, 0, 0, 0.5);
$overlay-darker: rgba(0, 0, 0, 0.75);
$background-light: #ebebeb;
$background-lighter: #f9f9f9;
$background-light-gray: #cbd0d6;
$invalid-color: red;
$success-green: #22a644;
$yellow-warning: #ffb200;
$light-gray: #888687;